/* * {
    box-sizing: border-box;
} */

.header {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.article {
    margin: 8px;
    padding: 16px;
    background-color: bisque;
    flex-grow: 1;
    flex-shrink: 0;
    width: 300px;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
}